html {
    font-family: roboto;
    margin: 0 40px;
    padding: 0;
    background-color: black;
}
#divider{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
nav{
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
    margin: 0px 210px;

}

#card{
    display: flex;
    flex-direction: column;
    margin-left: 210px;
    width: 450px;
    
}   
h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
    margin-top: 90px;
}
button{
    background-color: #3882f6;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}

header{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}


#main-img {
    height:300px;
    margin-top: 40px;
    margin-right: 210px;
    width: 500px;
}